<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Simple E-commerce</title>
</head>

<body>

  {%if request.user.is_authenticated%}
  {% include "ecom/customer_navbar.html" %}
  {%else%}
  {% include "ecom/navbar.html" %}
  {%endif%}

  <center>
    <h1 style='margin-top: 60px;'>Contact Us</h1>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <!-- <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br> -->
        <div style="display: flex; flex-direction: column; justify-content: center; width: 500px; gap: 10px;">
          <input type="text" name="name" id="name" placeholder="Enter your name"/>
          <input type="email" name="email" id="email" placeholder="Enter your email"/>
          <textarea name="Message" id="Message" cols="30" rows="10" placeholder="Enter your message"></textarea>
          <input type="submit" value="Send Message" class='btn btn-primary btn-lg' style="background-color: #e5bc41; border: none;">
        </div>
      </div>
    </form>
  </center>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : Siva Veludurthi
-->

</html>